/* styles.css */
/* 全局设置 */
html, body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;           /* 隐藏滚动条 */
}

/* 侧边栏设置 */
[data-testid="stSidebar"] {
    background-color: white;  /* 设置背景颜色 */
    padding: 20px;
    height: 100vh;              /* 使侧边栏占满整个视口高度 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;           /* 隐藏滚动条 */

}
[data-testid="stSidebar"] .top-section {
    background-color: blue;  /* 设置底部按钮的背景颜色 */
    border: #4CAF50 2px solid;
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;           /* 隐藏滚动条 */
}
.workspace{
    background-color: darkgray;  /* 设置底部按钮的背景颜色 */
    padding: 5px;
    border-radius: 10px;
}
.workspace div{
    background-color: white;  /* 设置底部按钮的背景颜色 */
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
[data-testid="stSidebar"] .bottom-buttons {
    background-color: red;  /* 设置底部按钮的背景颜色 */
    padding: 10px;
    border-radius: 5px;
    margin-top: auto;            /* 将其推到底部 */

}
/* 主内容区设置 */
.css-18e3th9 {
    max-width: 80%;
    padding: 20px;
}

.css-18e3th9 h1 {
    color: #4CAF50;
}
 /******************************************/
.main .block-container {
        max-width: 80%;  /* 调整内容宽度 */
        padding-top: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
        margin: 0;
    }
.sidebar .bottom-buttons{

    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: red;
}
.bottom-buttons{
    background-color: blue;  /* 设置底部按钮的背景颜色 */
    padding: 10px;
    border-radius: 5px;
    margin-top: auto;            /* 将其推到底部 */
}

/*.bottom-fixed {*/
/*            background-color: #e0e0eb;  !* 设置底部按钮的背景颜色 *!*/
/*            padding: 10px;*/
/*            border-radius: 5px;*/
/*            position: absolute;*/
/*            bottom: 0;*/
/*            width: calc(100% - 40px); !* 40px 是左右 padding 的总和 *!*/
/*        }*/

/*.bottom-fixed {*/
/*            background-color: white;  !* 设置底部按钮的背景颜色 *!*/
/*            padding: 10px;*/
/*            border-radius: 5px;*/
/*            position: fixed;*/
/*            bottom: 0;*/
/*            width: 100%;*/
/*        }*/

.pages-list {
            list-style-type: none;
            padding-left: 0;
        }

        .pages-list li {
            margin: 5px 0;
        }

        .pages-list a {
            text-decoration: none;
            color: #333;
        }